[submodule "quantum_espresso/q-e"]
	path = quantum_espresso/q-e
	url = https://gitlab.com/QEF/q-e.git
[submodule "quantum_espresso/kcp"]
	path = quantum_espresso/kcp
	url = https://github.com/epfl-theos/koopmans-kcp.git
[submodule "quantum_espresso/utils"]
	path = quantum_espresso/utils
	url = https://github.com/epfl-theos/koopmans-qe-utils.git
