*.pyc
*.kwf
*.??i
*.??o
*.bib
*.pkl
*.png
__pycache__/
.vscode
monkeytype.sqlite3
coverage.xml
.coverage
.hypothesis
*.egg-info/
*.eggs/
.mypy_cache/
TMP-CP/
TMP/
calc_alpha/
calculate_eps/
dft_bands/
final/
init/
pdos/
postproc/
wannier/
screening/
hamiltonian/
