CPV/*.mod
CPV/*.x
CPV/cpver.h
EE/*.mod
EE/*.x
EE/cpver.h
Modules/*.mod
Modules/*.x
Modules/cpver.h
PP/*.mod
PP/*.x
PP/cpver.h
PW/*.mod
PW/*.x
PW/cpver.h
include/iotk_config.h
include/configure.h
include/c_defs.h
include/f_defs.h
include/fft_defs.h
include/build_date.h
config.log
config.status
configure.msg
make.sys

