name: Run tests

on:
   pull_request:
      branches:
         - master
   push:
      branches:
         - master

jobs:
   test:
      runs-on: ${{ matrix.os }}
      strategy:
         fail-fast: false
         max-parallel: 6
         matrix:
            os: [ubuntu-latest, macOS-latest]
      steps:
         - name: Checkout
           uses: actions/checkout@v2
           with:
              submodules: true
              ssh-known-hosts: 'gitlab.com'
              token: ${{ secrets.ELINSCOTT_GITLAB_TOKEN }}
         - name: Set up Python 3.8
           uses: actions/setup-python@v2
           with:
              python-version: 3.8
         - name: Install dependencies
           run: |
              python -m pip install --upgrade pip
              pip install -e ase/ -e .[test]
         - name: Test with pytest
           run: |
              pytest -m mock tests/ --cov-config=.coveragerc --cov=./koopmans/ --cov-report=xml
         - name: Upload coverage to Codecov
           if: github.repository == 'elinscott/python_KI'
           uses: codecov/codecov-action@v1
           with:
              token: ${{ secrets.CODECOV_TOKEN }}
              file: coverage.xml
