name: Run the tutorials

on:
   pull_request:
      branches:
         - master
   push:
      branches:
         - master

jobs:
   test:
      runs-on: ${{ matrix.os }}
      strategy:
         fail-fast: false
         max-parallel: 6
         matrix:
            os: [ubuntu-latest, macOS-latest]
      steps:
         - name: Checkout
           uses: actions/checkout@v3
           with:
              submodules: true
         - name: Set up Python
           uses: actions/setup-python@v4
           with:
              python-version: '3.10'
         - name: Install dependencies
           run: |
              python -m pip install --upgrade pip
              pip install -e .[test]
         - name: Test the tutorials
           run: |
              pytest --ci tests/ -m tutorials
