name: Update CITATION.cff

on:
   pull_request:
      branches:
         - master

jobs:
   update-cff:
      runs-on: ubuntu-latest
      steps:
         - name: Checkout
           uses: actions/checkout@v2
         - name: Get branch name
           id: branch-name
           uses: tj-actions/branch-names@v6
         - name: Set up Python 3.8
           uses: actions/setup-python@v2
           with:
              python-version: 3.8
         - name: Install dependencies
           run: |
              python -m pip install --upgrade pip
              pip install -e .
              pip install pyyaml
         - name: Update CITATION.cff
           run: |
              python bin/update_cff.py
         - name: Validate CITATION.cff
           uses: dieghernan/cff-validator@main
         - name: Commit changes
           uses: test-room-7/action-update-file@v1
           with:
             branch: steps.branch-name.outputs.current_branch
             file-path: 'CITATION.cff'
             commit-msg: 'Update CITATION.cff'
             github-token: ${{ secrets.GITHUB_TOKEN }}
                 
